// variables
$purple: #7b5bfb;
$blue: #4faaf3;
$gray: #efeff5;
$gray-dark: #c0c0d8;
$green: #31d0bd;
$red: #ff001f;

// styles
body {
  background: #f4f3f8;
  font-family: Sans-Serif;
}

.app-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 75px;
}

.modal {
  position: fixed;
  top: 30px;
  left: 35%;
  background: #ffffff;
  border-radius: 5px;
  // height: 230px;
  width: 350px;
  padding: 30px;

  &__title {
    font-weight: 700;
    margin-bottom: 10px;
  }

  .input {
    width: 325px;
    margin-top: 4px;
    border: 2px solid #efeff5;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 3px;
  }

  .input::placeholder {
    font-style: italic;
  }

  textarea {
    resize: none;
  }

  &__alert {
    font-size: 14px;
    margin: 5px 0;
    background: $red;
    color: #ffffff;
    padding: 8px;
    border-radius: 4px;
  }

  &__footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;

    .button {
      width: 75px;
      background: red;
      margin-left: 10px;
      text-align: center;
      height: 30px;
      line-height: 30px;
      border-radius: 4px;
      font-size: 13;
    }

    .button__confirm {
      color: #ffffff;
      background: $purple;
    }

    .button__cancel {
      color: $purple;
      background: #ffffff;
    }

    .button__delete {
      color: #ffffff;
      background: $red;
      margin-right: 120px;
      margin-left: 1px;
    }
  }
}

.column {
  border-radius: 5px;
  background: #ffffff;
  width: 240px;
  min-height: 105px;
  margin-right: 15px;
  position: relative;
  padding-bottom: 40px;

  &__title {
    font-weight: 700;
    padding: 25px 25px 15px 25px;
  }
}

.task {
  border: 1px solid $gray;
  margin: 0px 10px 10px 10px;
  border-radius: 0px 0px 5px 5px;
  font-size: 12px;

  &-completed {
    background: $gray;
  }

  &__tile,
  &__description,
  &__date {
    overflow-wrap: break-word;
  }

  &__title {
    font-weight: 700px;
    margin: 15px 10px 0 10px;
  }

  &__description {
    color: $gray-dark;
    margin: 10px 10px;

    &-completed {
      color: $green;
    }
  }

  &__date {
    color: $purple;
    margin: 10px 10px;
    display: flex;
    justify-content: space-between;

    &-completed {
      color: $green;
    }

    i {
      margin-right: 5px;
    }
  }
}

.create-button {
  background: blue;
  color: #ffffff;
  text-align: center;
  height: 40px;
  width: 100%;
  line-height: 40px;
  position: absolute;
  bottom: 0;
  border-radius: 0px 0px 5px 5px;
}

.task-buttons {
  height: 30px;
  line-height: 30px;
  background: $blue;
  border-radius: 0px 0px 5px 5px;
  color: #ffffff;
  display: flex;

  div {
    text-align: center;
  }
}

.button {
  &__blue {
    background: $blue;
  }

  &__purple {
    background: $purple;
  }

  &__green {
    background: $green;
  }

  &__red {
    background: $red;
  }

  &__half {
    width: 50%;
  }

  &__full {
    border-radius: 0px 0px 5px 5px;
    width: 100%;
  }

  &__left {
    border-radius: 0px 0px 0px 5px;
  }
  &__right {
    border-radius: 0px 0px 5px 0px;
  }
}
