body {
  background: #f4f3f8;
  font-family: Sans-Serif;
}

.app-container {
  display: flex;
  justify-content: center;
  margin-top: 75px;
}

.modal {
  position: fixed;
  top: 30px;
  left: 35%;
  background: #ffffff;
  border-radius: 5px;
  height: 230px;
  width: 350px;
  padding: 30px;

  &__title {
    font-weight: 700;
    margin-bottom: 10px;
  }

  .input {
    width: 325px;
    margin-top: 4px;
    border: 2px solid #efeff5;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 3px;
  }

  .input::placeholder {
    font-style: italic;
  }

  textarea {
    resize: none;
  }

  &__footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;

    .button {
      width: 75px;
      background: red;
      margin-left: 10px;
      text-align: center;
      height: 30px;
      line-height: 30px;
      border-radius: 4px;
      font-size: 13;
    }

    .button__confirm {
      color: #ffffff;
      background: #bdabfc;
    }

    .button__cancel {
      color: #bdabfc;
      background: #ffffff;
    }
  }
}

.column {
  border-radius: 5px;
  background: #ffffff;
  width: 240px;
  min-height: 105px;
  margin-right: 15px;
  position: relative;

  &__title {
    font-weight: 700;
    padding: 30px;
  }
}

.create-button {
  background: blue;
  color: #ffffff;
  text-align: center;
  height: 40px;
  width: 100%;
  line-height: 40px;
  position: absolute;
  bottom: 0;
  border-radius: 0px 0px 5px 5px;

  &__blue {
    background: #4faaf3;
  }

  &__purple {
    background: #7b5bfb;
  }
}
